spring:
  application:
    name: task-flow-backend

  datasource:
    hikari:
      jdbc-url: jdbc:h2:file:./database/task-flow
      driver-class-name: org.h2.Driver
      username: sa
      password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
    show-sql: true

server:
  port: 8080